/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */

html {
  @apply text-dark;
  font-size: 16px;
  font-family: "Inter", Helvetica;
  scroll-behavior: smooth;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

div:focus {
  outline: none;
}

a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #886944c2;
}

.bg-gradient {
  background: rgba(253,250,247,1);
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.md-whiteframe-12dp {
  box-shadow: 4px -5px 22px 4px rgba(0, 0, 0, 0.16);
}

.loader {
  position: relative;
  height: 30px;
  width: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-top-color: #886944;
  box-shadow: 0px 0px 1px #886944;
  animation: Spin 1s linear infinite;
}

.loader-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 1px #886944;
}

.rules-description {
  line-height: 0.90rem;
}

.practice-container {
  width: 96%;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.sidebar {
  @apply hidden;
}

.main {
  @apply overflow-y-scroll bg-background w-full;
}

.practice-card {
  min-height: 350px;
}

@screen lg {
  .wrapper {
    @apply grid;
  }

  .sidebar {
    @apply grid relative border border-solid border-b-0 border-t-0 border-l-0 border-footer bg-navbar;
    grid-column-start: 1;
  }

  .main {
    @apply grid w-full;
    grid-column-start: 2;
  }

  .main-content {
    @apply mx-auto pt-3 relative;
  }

  .practice-card {
    min-height: 300px;
  }

  .main-content-with-sidebar {
    max-width: calc(100vw - 275px);
  }

  .main-with-sidebar {
    grid-column-start: 2;
  }

  .main-without-sidebar {
    grid-column-start: 1;
  }

  .wrapper-with-sidebar {
    grid-template-columns: 275px auto;
  }

  .wrapper-without-sidebar {
    grid-template-columns: "auto";
  }
}

@screen xl {}

.sidebar__translate {
  @apply absolute;
  bottom: -12px;
  margin-left: 28%;
}

/* purgecss end ignore */
