/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */

html {
  @apply text-dark;
  font-size: 16px;
  font-family: "Inter", Helvetica;
}

body {
  @apply overflow-hidden;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

div:focus {
  outline: none;
}

a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #886944c2;
}

.bg-gradient {
  background: linear-gradient(155deg, rgba(253,250,247,1) 0%, rgba(252,241,218,1) 100%);
}

/* purgecss end ignore */