/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */

html {
  font-size: 16px;
  font-family: "Inter", Helvetica;
}

body {
  @apply bg-background;
}

svg {
  fill: currentColor;
}

/* purgecss end ignore */